.container{
    background-color: rgb(44, 43, 43);
    height: 60px;
    display: flex;
    flex-wrap: wrap;

}

.left{
    display: flex;
    width: 30;
    justify-content: left;
    margin-left: 50px;
    gap: 10px;
    cursor: pointer;
}
.right{
    display: flex;
    align-items: right;
    width: 35%;
    gap: 10px;
    padding-bottom: 20px;
    margin-left: 100px;
    padding: 23px;
    font-family: serif;
    

}
.store a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.00938em;
    padding-top: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
.store span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-left: 9px;
    font-size: 13px;
}
.contact span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-left: 9px;
    font-size: 13px;
}
.login span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-left: 9px;
    font-size: 13px;
}
.contact a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.00938em;
    padding-top: 10px;
    margin-right: 10px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
   
}
.login a{
    text-decoration: none;
    color: white;
    font-family: Cabin;
    letter-spacing: 0.00938em;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
.fav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
    letter-spacing: 0.00938em;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
.cart a{
    text-decoration: none;
    color: white;
    
    letter-spacing: 0.00938em;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
span:hover{
    color: rgb(235, 9, 9);
}

.vl{
    border-left: 1px solid rgb(114, 114, 114);
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.allen img{
    width:80px;
    height: 50px;
    margin: 20px;

    margin-top: 5px;
    margin-bottom: 10px;
    /* padding: 10px; */
    padding-bottom: 10px;
}
.aditya img{
    width:90px;
    /* padding: 30px; */
    margin-right: 30px;
     margin-top: -15px;

    


}
.nike img{
    width:80px;
    height: 50px;
    margin-left: 2px;
    margin: 5px;
    padding: 5px;
    padding-left: 1px;
    margin-top: 0px;
    margin-bottom: 5px;

}
.vh img{
    width: 80px;
    margin: 5px;
    margin-left: 2px;
    padding: 2px;
    margin-right: 10px;
}
.lv img{
    width:45px;
    padding: 10px;
}
.menu{
    background-color: rgb(255, 255, 255);
    height: 75px;
   
    display: flex;
    
    letter-spacing: 1px;
    position: sticky;
    top: 0;
    
    
}
.things ul{
    display: flex;
    text-decoration: none;
    gap: 15px;
    font-family: sans-serif;
    margin: 10px;
    color: black;
    margin-left: 5px;
    padding: 10px;
    cursor: pointer;
    padding-top:10px;
    font-size: small;
    margin-top: 25px;
   
    
    
}

.search{
    margin-left: 8px;
    margin-bottom: 3px;
    border: none;
    
}

.menu img{
    width:20%;
    margin-left:10px;
    height: 80%;
}
.homepage img{
    width: 98%;
}
.main{
    background-image: url(../images/AS_D_HB_62_Sale.jfif);
    background-size: cover;
    height: 480px;
    
}
.sub{
    display: flex;
    
    margin-top: 60px;
    margin-left: 45px;
}
.sub img{
    border-radius: 100%;
    width: 60%;
    /* gap: 1px; */
    margin-left: 30px;
    align-items: center;
    
}
.names ul{
    display: flex;
    gap: 40px;
    font-family:sans-serif;
    margin-left: 40px;
    margin-top: 30px;
   
}
.men{
    margin-left:160px ;
    
}

.sale{
    margin-left: 40px;
}

.women{
    margin-left: 145px;
}
.girls{
    margin-left:150px ;
}
.boys{
    margin-left:135px ;
}
.footer{
    margin-top: 90px;
    background-color: rgb(252, 211, 105);
    height: 230px;
    display: flex;
}
.para1{
    font-size: x-large;
    margin-left: 30px;
    padding: 40px;
    margin-bottom: 0px;
    color: #0e3051;
    font-weight: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.para2{
    font-size: small;
    font-weight: 50;
    margin-left: 50px;
 margin-top: -50px;
    color: black;
}
.para3{
    margin-top: 10px;
    font-size: medium;
    font-weight: 50;
    margin-left:40px;
    color: black;
    display: flex;
    gap: 10px;
}
/* .gapp{
    margin-left: 20px;
} */
.img1{
    width: 70px;
    height: 30px;
    margin-top: 10px;
}
.img2{
    width: 70px;
height: 30px;
margin-top: 10px;
}
.code h3{
    border: dashed;
    border-radius: 5px;
    margin-top: 11px;
    letter-spacing: 2px;
    background-color: #ffdf00;
    font-weight: 100;
    font-style: normal;   
}
.qr img{
    margin-left: 100px;
    width:150px;
    height: 150x;
    margin-bottom:400px !important;
    margin-top: 40px;
    
}

.yallen{
    margin-left: 180px;
    padding-bottom: 500px;
}
.fright{
    display: flex;
}

.newarrival h2{
    text-align: center;
    margin-top: 50px;
    font-family:sans-serif;
    
}



